# 因子参数
factors = [
{% for factor in factors %}
    {
        "name": "{{ factor.name }}",
        "code_key": "{{ factor.CodeKey }}",
        "weight": {{ factor.weight }},
        "code": "{{ factor.CodeCompute | replace('\n', '\n') }}"
    },
{% endfor %}
]
