.input-wrapper {
    background-color: lightBlue;
    /* padding 区域的颜色 */
    padding: 12px;
    border-radius: 10px;
    display: inline-block;
}

.styled-input {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    background-color: white;
    font-size: 16px;
    outline: none;
    width: 200px;
}